/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.center-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-form {
	position: fixed;
	top: 50%;
	left: 50%;
	display: flex;
	transform: translate(-80%, -50%);
	/* background-color: rgb(237, 72, 81); */
}

.f-input {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	border: 2px solid rgb(228, 233, 245);
	border-radius: 6px;
}

.flex {
	display: flex;
	justify-content: space-between;
}

.f-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

.pad-btn {
	margin-bottom: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
}

#btncon {
	margin-top: 1em;
}

button {
	max-width: 92.5%;
	background: linear-gradient(to right, #f00000, #dc2818);
	color: white;
	border: 0;
	font-size: 1rem;
	font-weight: 600;
	padding: 0.5rem 1.2rem;
	margin: 0 0.5em;
	border-radius: 7px !important;
	cursor: pointer;
	text-align: center;
}

a {
	text-decoration: none;
	color: black;
}

.market {
	width: 40%;
}

.market img {
	position: fixed;
	/* left:0; */
	width: 60%;
	height: 100%;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

@keyframes cf3FadeInOut {
	0% {
		opacity: 1;
	}
	45% {
		opacity: 0.5;
	}
	55% {
		opacity: 0.2;
	}
	100% {
		opacity: 0;
	}
}

.market img.top {
	animation-name: cf3FadeInOut;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 5s;
	animation-direction: alternate;
}

@media screen and (max-width: 767px) {
	.auth-form {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: #fff;
		display: flex;
	}

	.market {
		display: none;
	}
}
