/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.auth-form {
  background: url('sunset.jpeg') no-repeat center center fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

button {
  max-width: 92.5%;
  background: red;
  color: white;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  margin: 0 0.5em;
  border-radius: 7px 7px 7px 7px;
  cursor: pointer;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}